 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.829);
}
h2{
    color: rgba(82, 243, 76, 0.932);
}
.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(171, 171, 173, 0.76);
    width: 550px;
    height: 360px;
    border-radius: 15px;
    box-shadow: 1px 1px 30px rgba(255, 255, 255, 0.671);
    margin-top: 8px;
}

label{
    margin-top: 13px;
    font-size: 20px;
    color: #000000;

}
input{
    width: 215px;
    font-size: 15px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    margin-bottom: 5px;
}


.btn{
    padding: 8px;
    margin-top: 2px;
    background-color: rgba(0, 0, 0, 0.541);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.resultado{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #7ff02f;
}